<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jfet.batsHIIT"
    android:versionCode="3"
    android:versionName="1.0806" >
    <!-- why yes, my version name *is* an increasing
         substring of 2*cos(1). Thanks for noticing!
      -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.jfet.batsHIIT.HIITMain"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.jfet.batsHIIT.HIITRun"
            android:label="@string/title_activity_hiitrun"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:parentActivityName="org.jfet.batsHIIT.HIITMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jfet.batsHIIT.HIITMain" />
        </activity>
    </application>
</manifest>
